@using final.ViewModels;
@{
    ViewData["Title"] = "Insert";
}
@model CarModel
<h2>Araç Düzenle</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Ürün Adı</label>
                <input type="text" class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Ürün Adı</label>
                <input type="text" class="form-control" asp-for="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Model</label>
                <input type="text" class="form-control" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label">Ürün Fiyatı</label>
                <input type="text" class="form-control" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Status" class="form-label">Araç Uygun mu ?</label>
                <input type="checkbox" class="form-check" asp-for="Status">

            </div>

            <div class="mb-3">
                <input type="hidden" asp-for="Id" />
                <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}