@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align:center">Araç Kiralama Sayfası</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Photos/Car/4k-car-g6a4f0e15hkua5oa.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Photos/Car/toyota_c_hr_hybrid_2019_4k-HD.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Photos/Car/EGEA_SEDAN_URBAN_KURSUN_GRI_KESFET_606x340px.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>